.icon[data-v-e8d572f6] {
  display: inline-block;
  vertical-align: middle;
}
.link[data-v-8aab095a]:focus-visible {
  outline-color: #000;
}
@keyframes dropUnderlineBounce-cb6b193b {
  0% {
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(1.2);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes dropUnderlineHide-cb6b193b {
  0% {
    transform: scaleY(1);
    visibility: visible;
  }
  to {
    transform: scaleY(0);
    visibility: hidden;
  }
}
.button_wrapper[data-v-cb6b193b] {
  position: relative;
}
.drop_underline[data-v-cb6b193b] {
  bottom: -13px;
  left: 0;
  margin-top: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transform: scaleY(0);
  transform-origin: top center;
  visibility: hidden;
}
.button_wrapper .mcdlink[data-v-cb6b193b] {
  transition:
    transform 0.2s ease,
    background-color 0.2s ease-out,
    color 0.2s ease-out;
}
.button_wrapper .mcdlink:disabled:hover + .drop_underline[data-v-cb6b193b],
.button_wrapper .mcdlink:not(:hover) + .drop_underline[data-v-cb6b193b] {
  animation: dropUnderlineHide-cb6b193b 0.2s ease-out forwards;
  transition: all 0.2s ease-out;
}
.button_wrapper
  .mcdlink:hover:not(:disabled)
  + .drop_underline[data-v-cb6b193b] {
  animation: dropUnderlineBounce-cb6b193b 0.7s ease forwards;
  transition: all 0.2s ease-out;
  visibility: visible;
}
.button_wrapper .mcdlink:disabled + .drop_underline[data-v-cb6b193b],
.button_wrapper .mcdlink:focus + .drop_underline[data-v-cb6b193b] {
  visibility: hidden;
}
.button_wrapper .mcdlink:active + .drop_underline[data-v-cb6b193b] {
  animation: dropUnderlineBounce-cb6b193b 0.7s ease forwards;
  visibility: visible;
}
.drop_underline svg path[data-v-cb6b193b] {
  transition: fill 0.2s ease-out;
}
