.icon[data-v-b1f44d79] {
  cursor: pointer;
  height: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: 0.3s;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.location-icon[data-v-b1f44d79] {
  display: flex;
}
.location-icon-hover[data-v-b1f44d79] {
  display: none;
}
.menu-button:hover .location-icon-hover[data-v-b1f44d79] {
  display: flex;
}
.menu-button:hover .location-icon[data-v-b1f44d79] {
  display: none;
}
.close-button[data-v-b1f44d79]:hover {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.gradient[data-v-7ed95e79] {
  position: relative;
  transition:
    background 0.3s ease-in-out,
    transform 0.3s ease;
}
.gradient[data-v-7ed95e79]:before {
  background: var(--linear-loyalty) border-box;
  border: 2px solid transparent;
  border-radius: 999px;
  content: "";
  inset: -2px;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
#mymcd-svg-hover[data-v-7ed95e79] {
  display: none;
}
#mymcd-button:hover #mymcd-svg-hover[data-v-7ed95e79] {
  display: block;
}
#mymcd-button:focus #mymcd-svg[data-v-7ed95e79],
#mymcd-button:hover #mymcd-svg[data-v-7ed95e79] {
  display: none;
}
#mymcd-button:focus #mymcd-svg-hover[data-v-7ed95e79] {
  display: block;
}
#mymcd-button[data-v-7ed95e79]:focus,
#mymcd-button[data-v-7ed95e79]:hover {
  background: var(--linear-loyalty);
}
#mymcd-button[data-v-7ed95e79]:focus-visible:before,
#mymcd-button[data-v-7ed95e79]:hover:before {
  opacity: 1;
}
#mymcd-button[data-v-7ed95e79] {
  transition:
    background 0.3s ease,
    transform 0.3s ease;
}
#mymcd-button[data-v-7ed95e79]:hover {
  background: var(--linear-loyalty);
}
#mymcd-button[data-v-7ed95e79]:focus,
#mymcd-button[data-v-7ed95e79]:hover {
  transform: scale(1.05);
}
@keyframes dropUnderlineBounce-84300e93 {
  0% {
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(1.5);
  }
  to {
    transform: scaleY(1);
  }
}
.drop_underline[data-v-84300e93] {
  margin-top: -1.6px;
  pointer-events: none;
  transform: scaleY(0);
  transform-origin: top center;
  transition: visibility 0.7s ease;
  visibility: hidden;
}
.button_wrapper .mcdlink:hover + .drop_underline[data-v-84300e93] {
  animation: dropUnderlineBounce-84300e93 0.7s ease forwards;
  visibility: visible;
}
.button_wrapper .mcdlink:disabled + .drop_underline[data-v-84300e93],
.button_wrapper .mcdlink:focus + .drop_underline[data-v-84300e93] {
  visibility: hidden;
}
.button_wrapper .mcdlink:active + .drop_underline[data-v-84300e93] {
  animation: dropUnderlineBounce-84300e93 0.7s ease forwards;
  visibility: visible;
}
.button_wrapper .mcdlink[data-v-84300e93] {
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.button_wrapper .mcdlink[data-v-84300e93]:hover {
  transform: scale(1.02);
}
.button_wrapper .mcdlink[data-v-84300e93]:disabled,
.button_wrapper .mcdlink[data-v-84300e93]:disabled:hover {
  transform: scale(1);
}
.modal-enter-active[data-v-09469eeb],
.modal-leave-active[data-v-09469eeb] {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}
.modal-enter[data-v-09469eeb],
.modal-leave-to[data-v-09469eeb] {
  opacity: 0;
  transform: translateY(-20px);
}
.modal-enter-to[data-v-09469eeb],
.modal-leave[data-v-09469eeb] {
  opacity: 1;
  transform: translateY(0);
}
.burger-icon[data-v-c4d8ae96] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: transform 0.5s ease-in-out;
}
.burger-line[data-v-c4d8ae96] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: 0.3s;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-icon:hover .line1[data-v-c4d8ae96]:not(.no-hover) {
  transform: translateY(-2px);
}
.burger-icon:hover .line3[data-v-c4d8ae96]:not(.no-hover) {
  transform: translateY(2px);
}
.burger-icon-x[data-v-c4d8ae96] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.burger-icon-x[data-v-c4d8ae96]:hover {
  transform: rotate(90deg);
}
.line-hidden[data-v-c4d8ae96] {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.rotate-1[data-v-c4d8ae96] {
  transform: rotate(45deg) translate(2px, -4px);
}
.rotate-1[data-v-c4d8ae96],
.rotate-2[data-v-c4d8ae96] {
  transition: transform 0.3s ease-in-out;
}
.rotate-2[data-v-c4d8ae96] {
  transform: rotate(-45deg) translate(-14px, 7px);
}
.no-hover[data-v-c4d8ae96] {
  pointer-events: none;
}
.fade-enter-active[data-v-03b72028],
.fade-leave-active[data-v-03b72028] {
  transition: opacity 0.5s ease;
}
.fade-enter-from[data-v-03b72028],
.fade-leave-to[data-v-03b72028] {
  opacity: 0;
}
.fade-enter-to[data-v-03b72028],
.fade-leave-from[data-v-03b72028] {
  opacity: 1;
}
.hoverable-item {
  transition: transform 0.3s ease-in-out;
}
.hoverable-item:hover {
  transform: translate(15px);
}
.scrollbar-hide[data-v-80a533b4] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide[data-v-80a533b4]::-webkit-scrollbar {
  display: none;
}
.transition-bg-color[data-v-6f45e9cc] {
  transition: background-color 0.5s ease-in;
}
@keyframes drop-down-6f45e9cc {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.drop-animation[data-v-6f45e9cc] {
  animation: drop-down-6f45e9cc 0.5s ease-in-out forwards;
}
@keyframes drop-up-6f45e9cc {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120%);
  }
}
.drop-up-animation[data-v-6f45e9cc] {
  animation: drop-up-6f45e9cc 0.5s ease-in-out forwards;
}
