.map-container-loaded[data-v-1f2c0c90] {
  box-shadow: 0 4px 20px #0000001a;
  transform: translateY(0);
  transition: all 0.5s ease;
}
.map-panning[data-v-1f2c0c90] {
  box-shadow: 0 6px 25px #00000026;
  transition: all 0.3s ease;
}
.marker-wrapper[data-v-1f2c0c90] {
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}
.marker-visible[data-v-1f2c0c90],
.marker-wrapper[data-v-1f2c0c90] {
  opacity: 1;
  transform: translateY(0);
}
.marker-staggered[data-v-1f2c0c90] {
  transition-delay: calc(var(--index) * 50ms);
}
.marker-hover[data-v-1f2c0c90] {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.marker-hover[data-v-1f2c0c90]:hover {
  transform: translateY(-3px) scale(1.05);
  z-index: 100;
}
.marker-animation[data-v-1f2c0c90] {
  animation: bounce-1f2c0c90 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
  transform-origin: bottom center;
  will-change: transform;
}
.selected-marker[data-v-1f2c0c90] {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  transition: all 0.3s ease;
}
.shadow-effect[data-v-1f2c0c90] {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  transition: filter 0.3s ease;
}
.user-location-marker[data-v-1f2c0c90] {
  filter: drop-shadow(2px 2px 0 var(--color-brand-Black, #000));
  opacity: 1;
}
.user-location-marker.fade-in[data-v-1f2c0c90] {
  animation: fadeIn-1f2c0c90 0.3s ease forwards;
}
.pulse-animation[data-v-1f2c0c90] {
  animation: pulse-1f2c0c90 2s infinite;
}
.tooltip-animation[data-v-1f2c0c90] {
  animation: fadeInUp-1f2c0c90 0.3s ease forwards;
  opacity: 1;
}
.slide-up-animation[data-v-1f2c0c90] {
  transition: all 0.5s ease;
}
.slide-up-animation[data-v-1f2c0c90],
.slide-up-animation.visible[data-v-1f2c0c90] {
  opacity: 1;
  transform: translateY(0);
}
.location-marker[data-v-1f2c0c90] {
  filter: drop-shadow(2px 2px 0 var(--color-brand-Black, #000));
  opacity: 1;
}
.location-marker.fade-in[data-v-1f2c0c90] {
  animation: fadeIn-1f2c0c90 0.3s ease forwards;
}
@keyframes bounce-1f2c0c90 {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeIn-1f2c0c90 {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp-1f2c0c90 {
  0% {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%);
  }
}
@keyframes pulse-1f2c0c90 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
